<nav class="navbar navbar-expand-lg bg-body-tertiary"data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="{{ path('app_home') }}">MyShop Théo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          {# <a class="nav-link active" aria-current="page" href="#">Home</a> #}
        </li>
           <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="logo_img" src="https://img.icons8.com/?size=100&id=23374&format=png&color=FFFFFF" alt="Contact Logo" width="20" height="20">
              <span class="text-login">Login</span>
          </a>
              <ul class="dropdown-menu">
              {% if app.user %}
                <li><a class="dropdown-item" href="{{ path('app_login') }}">Profile</a></li>
                <li><a class="dropdown-item" href="{{ path('app_category_index') }}"></a></li>
                <li><a class="dropdown-item" href="{{ path('app_sub_category_index') }}">historique de commande</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ path('app_logout') }}">logout</a></li>
              {% else %}
                <li><a class="dropdown-item" href="{{ path('app_login') }}">login</a></li>
                <li><a class="dropdown-item" href="{{ path('app_register') }}">register</a></li>
              {% endif %}
              </ul>
          </li>
    {% if is_granted("ROLE_ADMIN") %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="logo_img" src="https://img.icons8.com/?size=100&id=60960&format=png&color=FFFFFF" alt="Contact Logo" width="20" height="20">
              <span class="text-login">Menu Admin</span>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('admin') }}">AdminMenu</a></li>
          </ul>
        </li>
    {% endif %}
        <li class="nav-item">
          {# <a class="nav-link disabled" aria-disabled="true">Disabled</a> #}
        </li>
      </ul>
      <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">
        <img class="loupe" src="https://img.icons8.com/?size=100&id=elSdeHsB03U3&format=png&color=FFFFFF" alt="Contact Logo" width="20" height="20">
      </button> 
      </form>
    </div>
  </div>
</nav>